* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;

}

.mainheader {
    background-color: white;



    top: 0;
    position: fixed;
    display: flex;
    align-items: center;
    height: 11vh;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);

    width: 100vw;

}

.header {
    align-items: center;

    display: flex;
    width: 100vw;
    height: 9%;

}

img {
    width: 50px;
    border-radius: 50%;
}

.left-side {
    margin-left: 15px;
    display: flex;
    flex: 1;
    justify-content: start;
}

.center-side {
    margin-left: 5px;

    flex: 2;

    display: flex;
}

.inputsection {


    display: flex;
    justify-content: start;
    border-radius: 20px;

    border: 2px solid wheat;
    align-items: center;

}

.inputsection input {
    border: none;
    outline: none;
    padding: 0px 7px;
    height: 45px;
    width: 90%;
    border-radius: 20px;
    font-size: 2rem;

}


.inputsection button {
    display: flex;
    width: 30px;
    height: 25px;
    background-color: transparent;
    border: none;
    align-items: center;
    justify-content: end;
    border-radius: 5px;

}

.inputsection button img {

    width: 30px;
    height: 30px;

}


.mic {
    display: flex;


}

.mic img {
    width: 50px;
    height: 50px;
    margin-left: 20px;
    padding: 8px;
}


.right-side {

    display: flex;
    flex: 1;
    justify-content: end;
    margin-right: 15px;
}

.right-side .user {
    justify-content: end;
}



.navasid {
    display: none;
    background-color: white;
    z-index: 20000;
    position: fixed;
    height: 100vh;

    top: 11%;
    justify-content: start;
    align-items: start;

    width: 100px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
    transition: width 0.3s ease;
}

.nav {
    margin-top: 10px;
    width: 100vh;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: start;
}


li {
    list-style: none;
    margin-top: 10px;
}

.columnnavli {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
}

.nav img {
    width: 25px;
    height: 25px;
    border-radius: 0%;

}


.playervideo {
    display: flex;
    flex-direction: row;
    height: 100vh;
 margin-top: 12vh;
    width: 100vw;

}

@media(max-width : 560px) {
    .playervideo {
 margin-top: 12vh !important;
        width: 100%;
        height: calc(100vh - 12vh);
        display: flex;
        flex-direction: column;
        align-items: center;
        
        height: 100vh;

    }

}


.playingvideo {
    margin-left: 10%;
    display: flex;
    flex-direction: column;
    width: 55%;
    height: 80%;
}

@media(max-width : 560px) {

    .playingvideo {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        display: flex;
        width: 80%;
        height: 100%;
    }

}

.yvidoe {
    display: flex;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    object-fit: cover;

}

.remainvideos {
    display: flex;
    flex-direction: column;

    margin-left: 3vw;
    width: 25%;
    height: 100vh;
}

@media(max-width:560px) {
    .remainvideos {
        width: 80%;
        margin-left: 10vw;

    }
}

.lvideo {
    border-radius: 10px;
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 25%;
}

@media(max-width : 560px) {
    .lvideo {
        flex-direction: column;
        height: 100vh;
        align-items: center;
    }
}

.lvideo img {
    width: 40%;
    height: 100%;
    border-radius: 0px;
    object-fit: cover;
    border-radius: 10px;
}

@media(max-width:560px) {
    .lvideo img {
        width: 80%;
    }

}


.nat {
    display: flex;
    flex-direction: column;



    justify-content: center;
    align-items: start;
    padding-left: 3px;
}

.songname {


    display: flex;
    -webkit-box-orient: row;

    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1em;
    /* Line height per line */
    max-height: 1em;
    /* 2 lines * 1.5em */
    min-height: 1em;
    align-items: start;
    justify-content: start;
}


.likesbtn{
    margin-top: 10px;
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;

}
.likeshape {
    width: 100px;
    height: 50px;
 margin-left: 100px;   
    border-radius: 10px;
    background-color: bisque;
}
.likeshape:hover{
    cursor: pointer;
    background-color: lightcoral;
}
