* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;

}

.mainheader {
    background-color: white;



    top: 0;
    position: fixed;
    display: flex;
    align-items: center;
    height: 70px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);

    width: 100vw;

}

.header {
    align-items: center;

    display: flex;
    width: 100vw;
    height: 60px;

}

img {
    width: 50px;
    border-radius: 50%;
}

.left-side {
    margin-left: 15px;
    display: flex;
    flex: 1;
    justify-content: start;
}

.center-side {
    margin-left: 5px;

    flex: 2;

    display: flex;
}

.inputsection {


    display: flex;
    justify-content: start;
    border-radius: 20px;

    border: 2px solid wheat;
    align-items: center;

}
.inputsection input {
    border: none;
    outline: none;
    padding: 0px 7px;
    height: 45px;
    width: 90%;
    border-radius: 20px;
    font-size: 2rem;

}


.inputsection button {
    display: flex;
    width: 30px;
    height: 25px;
    background-color: transparent;
    border: none;
    align-items: center;
    justify-content: end;
    border-radius: 5px;

}

.inputsection button img {

    width: 30px;
    height: 30px;

}


.mic {
    display: flex;


}

.mic img {
    width: 50px;
    height: 50px;
    margin-left: 20px;
    padding: 8px;
}


.right-side {

    display: flex;
    flex: 1;
    justify-content: end;
    margin-right: 15px;
}

.right-side .user {
    justify-content: end;
}


.navasid {
    background-color: white;
    z-index: 20000;
    position: fixed;
    top: 0;
    display: none;
    margin-top: 70px;
    height: 100vh;
    /* width: 100px; */
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
}

.nav {
    display: flex;
    flex-direction: column;

    margin-top: 15px;
    width: 100%;
}

li {

    list-style: none;
    margin-top: 10px;
}




.playervideo {
    display: flex;
    flex-direction: row;
    height: 100vh;
    /* margin-left: 120px; */
    margin-top: 85px;
    width: 100vw;

}

.playingvideo {
    margin-left: 10%;
    display: flex;
    width: 55%;
    height: 65%;
}

.yvidoe {
    display: flex;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    object-fit: cover;

}

.remainvideos {
    display: flex;
    flex-direction: column;

    margin-left: 3vw;
    width: 25%;
    height: 100vh;
}

.lvideo {
    border-radius: 10px;
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 25%;
}

.lvideo img {
    width: 40%;
    height: 100%;
    border-radius: 0px;
    object-fit: cover;
    border-radius: 10px;
}

.nat {
    display: flex;
    flex-direction: column;
    
    
    
    justify-content: center;
    align-items: start;
    padding-left: 3px;
}
.songname {
    

    display: flex;
    -webkit-box-orient: row;

    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1em;
    /* Line height per line */
    max-height: 1em;
    /* 2 lines * 1.5em */
    min-height: 1em;
    align-items: start;
    justify-content: start;
}
