* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;

}

.mainheader {
    background-color: white;



    top: 0;
    position: fixed;
    display: flex;
    align-items: center;
    height: 70px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);

    width: 100vw;

}

.header {
    align-items: center;

    display: flex;
    width: 100vw;
    height: 60px;

}

img {
    width: 50px;
    border-radius: 50%;
}

.left-side {
    margin-left: 15px;
    display: flex;
    flex: 1;
    justify-content: start;
}

.center-side {

    flex: 1;

    display: flex;
}

.inputsection {
    flex-wrap: wrap;
    overflow: hidden;

    display: flex;
    justify-content: start;
    border-radius: 20px;
    justify-content: start;
    height: 45px;
    border: 2px solid wheat;
    align-items: center;

}

.inputsection button {
    display: flex;

    height: 25px;
    background-color: transparent;
    border: none;
    align-items: center;
    border-radius: 5px;

}

.inputsection button img {
    width: 30px;
}

.inputsection input {
    border: none;
    outline: none;
    height: 55px;
    width: 300px;
    border-radius: 20px;
    font-size: 2rem;

}

.mic {
    display: flex;


}

.mic img {
    width: 50px;
    height: 50px;
    margin-left: 20px;
    padding: 8px;
}


.right-side {

    display: flex;
    flex: 1;
    justify-content: end;
    margin-right: 15px;
}

.right-side .user {
    justify-content: end;
}

.navasid {
    background-color: white;
    z-index: 20000;
    position: fixed;
    top: 0;
    margin-top: 70px;
    height: 100vh;
    width: 100px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
}

.nav {
    display: flex;
    flex-direction: column;

    margin-top: 15px;
    width: 100%;
}

li {

    list-style: none;
    margin-top: 10px;
}

.video-section {
    padding: 20px;
    display: flex;
    margin-top: 90px;
    margin-left: 120px;
    width: 100%;
}

.video {

    display: grid;
    flex-wrap: wrap;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: (2, 1fr);
    gap: 20px;
}

.mainimgd {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    border-radius: 5%;
}

.propervideo {
    display: flex;
    
    flex-direction: column;
    left: 50%;
    /* horizontally center */
    justify-content: center;
    cursor: pointer;


}

.propervideo p {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;

    justify-content: center;
}

a {
    color: inherit;
    text-decoration: none;
    font-style: normal;
}
.navli{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   margin-top: 20px;
}
.rownavli{
 display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
   margin-top: 20px;
}  
.rownavli img{
    justify-content: start;
      width: 25px;
    height: 25px;
margin-right: 20px;
    border-radius: 0%;
}
.rownavli  li{
    
display: flex;
justify-content: start;
    width: 70px;
    
}
.navli img{
    width: 25px;
    height: 25px;
    border-radius: 0%;

}